
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>1</title>
    </head>
    <body>
    <% data.forEach(function(item){%>
        <p style="width:100%;text-align:center;font-size:30px;font-weight:900;"><%item.title%></p>
       
                <li style="outline:none;list-style: none;"><%=item.Keyword %></li>
            <% }) %>
    </body>
    </html>